[Desktop Entry]
Type=Application
Name=Suspend-Timer
Comment=Frage nach Minuten und plane Standby
Exec=/bin/bash -lc '~/.local/bin/suspend-timer.sh'
Icon=system-suspend
Terminal=false
Categories=Utility;
